<div class="card m-4">
  <h4 class="card-header bg-gradient-blue-green text-white">
    <i class="fas fa-dragon"></i> Welcome to WS-8's System!
  </h4>
  <div class="card-body">
    <h5 class="card-title">ようこそ！</h5>
    <p class="card-text">
      京都大学社会情報学専攻のみなさま向けの、講義質問共有支援システムです。<br>
      まずはログインしてください。
    </p>
    <%= link_to "Log in", login_path, class: "btn btn-primary m-1"%>
  </div>
</div>