<div class="center jumbotron">
  <h1>Welcome to the WS-8</h1>

  <h2>
  京都大学情報学研究科社会情報学専攻の生徒のための質問版です。
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%=image_tag("/assets/univ_mark.jpg", alt: "univ mark",size:'200x200') %>