<% if flash[:notice] then %>
	<div class="alert alert-success alert-dismissible fade show" role="alert">
    	<span class="alert-icon"><i class="fas fa-check"></i></span>
    	<span class="alert-text"><%= flash[:notice] %></span>
    	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        	<span aria-hidden="true">&#10005;</span>
    	</button>
	</div>
<% end %>

<%= high_chart("my_chart", @chart) %>
<% lid=@lesson.id %>
</div>
<div class="card-header bg-white p-5">
<%for num in 1..@max do%>
<%= button_to num, scream_button_path(id:lid,number: num), type: 'button', class: 'btn btn-danger btn-block mx-auto',style:"width: 200px;" %>
<%end%>
</div>