

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>順位</th>
      <th>ユーザー</th>
      <th>タイトル</th>
      <th>metoo</th>
    </tr>
  </thead>
  <tbody>
   <% @all_ranks.each.with_index do |r,i| %>
    <tr>
      <th scope="row"><%= "#{i+1}" %></th>
      <td><%= User.find(r.user_id).name %></td>
      <td><%= r.title %></td>
      <td><%= r.metoo %></td>
    </tr>
    <% end %>
  </tbody>
</table>