<% if page.current? %>
  <li class="page-item active" aria-current="page">
    <%= content_tag :a, page, data: { remote: remote }, rel: page.rel, class: 'page-link' %>
    <span class="sr-only">(current)</span>
  </li>
<% else %>
  <li class="page-item">
    <%= link_to page, url, remote: remote, rel: page.rel, class: 'page-link'%>
  </li>
<% end %>
