<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <h3>講義一覧</h3>
      <div class="divider divider-diamond m-3"></div>
      <div class="dropdown m-1">
		<button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  情報システム論実習(火3,4,木5)
		</button>
		<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; top: 0px; left: 0px; will-change: transform;">
		  <a class="dropdown-item" href="#">第1週（補講）</a>
		  <a class="dropdown-item" href="#">第2週（補講）</a>
		  <a class="dropdown-item" href="#">第3週（ワークショップテーマ決め）</a>
		</div>
	  </div>
      <div class="dropdown m-1">
		<button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  情報システム設計論(火5)
		</button>
		<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; top: 0px; left: 0px; will-change: transform;">
		  <a class="dropdown-item" href="#">第1週</a>
		  <a class="dropdown-item" href="#">第2週</a>
		  <a class="dropdown-item" href="#">第3週</a>
		</div>
	  </div>
      <div class="dropdown m-1">
		<button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  情報社会論(水2)
		</button>
		<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; top: 0px; left: 0px; will-change: transform;">
		  <a class="dropdown-item" href="#">第1週</a>
		  <a class="dropdown-item" href="#">第2週</a>
		  <a class="dropdown-item" href="#">第3週</a>
		</div>
	  </div>
    </div>
    <div class="col-lg-8">
      <h2 class="text-lg-center">ここに講義名と回数を表示</h2>

      <div class="callout callout-primary card shadow-sm m-3">
		<div class="card-body">
		  <h5 class="card-title mb-4">
            The quick brown fox jumps over the lazy dog
            <span class="badge badge-success">解決済</span>
          </h5>
	      <h6 class="card-subtitle mb-2 text-muted">Kyodai Smith</h6>
          <h6 class="card-subtitle mb-2 text-muted">2020/02/02 02:02</h6>
		  <p class="card-text">
            The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
          </p>
          <p>この辺に回答数とかいいねとか Me too をおきたい</p>
          <button type="button" class="btn btn-info btn-block w-50">回答する！</button>
	    </div>
	  </div>

    <!-- Best Answer and Comments -->
      <div class="callout callout-success card shadow-sm m-3">
        <h3 class="text-success">Best Answer</h3>
		<div class="media comment m-2">
		  <!-- <img src="docs/assets/img/avatar.jpg" class="img-avatar mr-3" alt="author image"> -->
		  <div class="media-body">
			<div class="media-body-header">
			  <h6 class="comment-author">John Doe</h6>
			  <span class="comment-date text-muted">2020/02/02 02:02</span>
			</div>
			The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
		  </div>
        </div>

        <div class="media comment">
		  <!-- <img src="docs/assets/img/avatar.jpg" class="img-avatar mr-3" alt="author image"> -->
		  <div class="media-body m-2">
			<div class="media-body-header">
			  <h6 class="comment-author">Kyodai Smith</h6>
			  <span class="comment-date text-muted">2020/02/02 02:02</span>
			</div>
			The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
		  </div>
        </div>

        <button type="button" class="btn btn-info btn-block w-25">コメントする</button>
	  </div>

      <!-- Other Answer and Comments -->
      <h3 class="text-info m-4 text-lg-left">他の回答</h3>
      <div class="callout callout-info card shadow-sm m-3">
		<div class="media comment m-2">
		  <!-- <img src="docs/assets/img/avatar.jpg" class="img-avatar mr-3" alt="author image"> -->
		  <div class="media-body">
			<div class="media-body-header">
			  <h6 class="comment-author">hogehoge</h6>
			  <span class="comment-date text-muted">2020/02/02 02:02</span>
			</div>
			The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
		  </div>
        </div>
        <div class="media comment">
		  <!-- <img src="docs/assets/img/avatar.jpg" class="img-avatar mr-3" alt="author image"> -->
		  <div class="media-body m-2">
			<div class="media-body-header">
			  <h6 class="comment-author">fugafuga</h6>
			  <span class="comment-date text-muted">2020/02/02 02:02</span>
			</div>
			The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
		  </div>
        </div>

        <button type="button" class="btn btn-info btn-block w-25">コメントする</button>
	  </div>

    </div>
  </div>
</div>
