
<h2 class="text-lg-center">ここに講義名と回数を表示</h2>

<div class="callout callout-info card shadow-sm m-3">
    <h5 class="text-info">質問内容</h5>
    <textarea class="form-control mb-2" rows="15" placeholder="質問内容を入力してください"></textarea>
    <button type="button" class="btn btn-info btn-block w-25">投稿する</button>
</div>

<div class="callout callout-warning card shadow-sm m-3">
    <button type="button" class="btn btn-warning btn-block w-25">質問せずに戻る</button>
</div>