<h1>新規教材追加</h1>
<%= render 'form', lesson_file: @lesson_file %>
<%= link_to 'Back to question list', question_list_path(id: @lesson.id), type: 'button', class: 'btn btn-outline-warning mx-auto mt-5 btn-block w-50' %>
