<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <h3>講義一覧</h3>
      <div class="divider divider-diamond mb-3"></div>
      <div class="dropdown">
		<button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  情報システム論実習(火3,4,木5)
		</button>
		<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; top: 0px; left: 0px; will-change: transform;">
		  <a class="dropdown-item" href="#">第1週（補講）</a>
		  <a class="dropdown-item" href="#">第2週（補講）</a>
		  <a class="dropdown-item" href="#">第3週（ワークショップテーマ決め）</a>
		</div>
	  </div>
      <div class="dropdown">
		<button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  情報システム設計論(火5)
		</button>
		<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; top: 0px; left: 0px; will-change: transform;">
		  <a class="dropdown-item" href="#">第1週</a>
		  <a class="dropdown-item" href="#">第2週</a>
		  <a class="dropdown-item" href="#">第3週</a>
		</div>
	  </div>
      <div class="dropdown">
		<button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  情報社会論(水2)
		</button>
		<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; top: 0px; left: 0px; will-change: transform;">
		  <a class="dropdown-item" href="#">第1週</a>
		  <a class="dropdown-item" href="#">第2週</a>
		  <a class="dropdown-item" href="#">第3週</a>
		</div>
	  </div>
    </div>
    <div class="col-lg-8">
      <div class="card">
        <h3 class="card-header">Welcome to WS-8's System!</h3>
        <div class="card-body">
          <h4 class="card-title">ようこそ</h4>
          <p class="card-text">
            左側の講義一覧から講義と週を選んでください。
            質問一覧が表示されます。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>