<div class="card">
    <h3 class="card-header">Welcome to WS-8's System!</h3>
    <div class="card-body">
		<h4 class="card-title">ようこそ</h4>
		<p class="card-text">
        左側の講義一覧から講義と週を選んでください。
        質問一覧が表示されます。
		</p>
    </div>
</div>